<div class="container">  <!-- この行を追加 -->
  <div class="row">
    <h3 class="my-4 px-4", style="background:#EEEEEE;"> 新規会員登録 </h3>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-1" >
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="font-weight-normal">名前</th>
              <td>
                <%= f.label :"(姓)" %>
                <%= f.text_field :last_name, autofocus: true %>
              </td>
              <td>
                <%= f.label :"(名)" %>
                <%= f.text_field :first_name, autofocus: true %>
              </td>
          </tr>
          <tr>
            <th class="font-weight-normal">フリガナ</th>
              <td>
                <%= f.label :"(セイ)" %>
                <%= f.text_field :last_name_kana, autofocus: true %>
              </td>
              <td>
                <%= f.label :"(メイ)" %>
                <%= f.text_field :first_name_kana, autofocus: true %>
              </td>
          </tr>
          <tr>
            <th class="font-weight-normal">メールアドレス</th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th class="font-weight-normal">郵便番号(ハイフンなし)</th>
              <td><%= f.text_field :postal_code, autofocus: true %></td>
          </tr>
          <tr>
            <th class="font-weight-normal">住所</th>
              <td><%= f.text_field :address, autofocus: true, :size=>"30" %></td>
          </tr>
          <tr>
            <th class="font-weight-normal">電話番号(ハイフンなし)</th>
              <td><%= f.text_field :phone_number, autofocus: true %></td>
          </tr>
          <tr>
            <th class="font-weight-normal">パスワード(6⽂字以上)</th>
              <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th class="font-weight-normal">パスワード(確認⽤)</th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th></th>
              <td><%= f.submit "新規登録",class: 'btn btn-success mt-2' %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h3 class="my-3 px-4", style="background:#EEEEEE;">既に登録済みの方</h3>
  </div>
  <div class="mt-3"><%= link_to "こちら", new_customer_session_path %>からログインしてください</div>
</div>
