<div class="container">
  <div class="row">
    <h3 class="my-5 px-4 rounded-circle", style="background:#EEEEEE;">会員情報編集</h3>

  </div>
  <%= render 'layouts/errors', obj: @customer %> 
  <!----エラーメッセージ>-->
  <%= form_with(model:@customer, url:customer_path, local: true ,method: :put) do |f| %>
  <div class="row">
  <table class="table table-borderless col-md-10">
    <tbody>
          <tr>
            <th class="font-weight-normal"><%= f.label :氏名 %></th>
              <td><%= f.text_field :last_name %></td>
              <td><%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <th class="font-weight-normal"><%= f.label :フリガナ %></th>
              <td><%= f.text_field :last_name_kana %></td>
              <td><%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <th class="font-weight-normal"><%= f.label :郵便番号 %></th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th class="font-weight-normal"><%= f.label :住所 %></th>
              <td colspan="2"><%= f.text_field :address , :size=>"50" %></td>
          </tr>
          <tr>
            <th class="font-weight-normal"><%= f.label :電話番号 %></th>
              <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <th class="font-weight-normal"><%= f.label :メールアドレス %></th>
              <td><%= f.email_field :email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <%= f.submit "編集内容を保存", class: "btn btn-primary rounded-pill col-sms-6 px-5"%>
      <%= link_to '退会する', quit_customer_path, class: "btn btn-danger rounded-pill px-3 offset-md-1" %>
    </div>
  <% end %>

      </div>
  </div>
</div>