<div class="container">
  <div class="row">
    <div class="col-lg-7 offset-lg-2 mt-4" >
      <div class="topimage">
        <p class="toptext">ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない⽅も商品の閲覧はできますが、<br>
        購⼊には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 mt-5" >
      <h2>新着商品</h2>
        <% @newproducts.each do |product| %>
          <div class="newproducts mr-4">
          <%= link_to product_path(product.id), class: "btn-link font-weight-bold", :style=>"color:black" do %>
            <%= attachment_image_tag product, :image, :fill, 100, 100, fallback: 'noimage.jpg', size: '180x130' %>
          <% end %>
            <div class="red-border px-3 mt-3"><%= product.name %></div>
            <div class="mt-1 px-3"><%= (product.price * 1.1).floor %> 円</div>
          </div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7 offset-lg-8 mt-4" >
      <%= link_to "全ての商品を見る>", products_path %>
    </div>
  </div>
</div>