<div class="container my-5">
  <div class="row">
    <h3 class="my-5 px-4", style="background:#EEEEEE;">注文履歴詳細</h3>
  </div>
  <div class="row">
    <div class="col-md-10">
        <table>
        <tr>
        <td>
          <storong>注文情報</storong>
          <table class="table table-bordered" align="left" >
            <tr>
              <th class="table-primary">注文日</th>
              <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            </tr>
            <tr>
              <th class="table-primary">配送先</th>
              <td>
                <%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <th class="table-primary">支払い方法</th>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <th class="table-primary">ステータス</th>
              <td><%= @order.status_i18n %></td>
            </tr>
          </table>
        </td>
        <td valign="top">
          <storong id="text-right">請求情報</storong>
          <table class="table table-bordered" align="left" id="tabel-right">
            <tr>
              <th class="table-primary">商品合計</th>
              <td><%= @order.payment %></td>
            </tr>
            <tr>
              <th class="table-primary">配送料</th>
              <td><%= @order.postage%></td>
            </tr>
            <tr>
              <th class="table-primary">ご請求額</th>
              <td><%= @order.payment + @order.postage %></td>
            </tr>
          </table>
        </td>
        </tr>
        </table>
        <storong>注文内容</storong>
        <table class="table table-bordered" align="left" id="tabel-bottom">
            <thead>
              <tr class="table-primary">
                  <th>商品</th>
                  <th>単価(税込)</th>
                  <th>個数</th>
                  <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% @order_products.each do |order_product| %>
              <tr>
                <td><%= order_product.product.name %></td>
                <td><%= order_product.price%></td>
                <td><%= order_product.amount %></td>
                <td><%= order_product.price* order_product.amount %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
    </div>
  </div>
</div>





