<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 style="background:#EEEEEE;">会員⼀覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>⽒名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.last_name %><%= customer.first_name %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.user_status == true %>
              <p class="text-success">有効</p>
              <% else %>
              <p>退会</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <%= paginate @customers %>
    </div>
  </div>
</div>

<!-- admin_customers GET    /admin/customers-->