<div class="container my-3">
  <div class="row">
    <div class="col-md-2 mx-auto mb-4 text-center">
      <h2 style="background:#EEEEEE;" class="rounded-circle">会員⼀覧</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-hover table-inverse">
        <thead style="background:#fffacd;">
          <tr>
            <th>会員ID</th>
            <th>⽒名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
            <%= link_to admin_customer_path(customer) do %>
            <%= customer.last_name %><%= customer.first_name %>
            <% end %>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.user_status == true %>
              <p class="text-success">有効</p>
              <% else %>
              <p>退会</p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <%= paginate @customers %>
     </div>
  </div>
</div>

<!-- admin_customers GET    /admin/customers-->