<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 style="background:#EEEEEE;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>⽒名</td>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @customer.user_status == true%>
              <p class="text-success">有効</p>
              <% else %>
              <p>退会</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
        <div class="row">
          <div class=col>
          <div class="d-flex justify-content-around">
          <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success btn-sm " %>

          <%= link_to "注⽂履歴⼀覧を⾒る", admin_orders_path(@customer), class: "btn btn-info btn-sm" %>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>