<div class="container my-5">
  <div class="row">
    <div class="col-md-10">
      <h4>注文履歴詳細</h4>
       <%= form_with model: @order, url: admin_orders_path, local: true, method: :patch do |f| %>
          <table align="left" >
            <tr>
              <th>購入者</th>
              <td><%= @order.name %></td>
            </tr>
            <tr>
              <th>注文日</th>
              <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            </tr>
            <tr>
              <th>配送先</th>
              <td>
                <%= @order.postal_code %><%= @order.address %><br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <th>支払い方法</th>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <th>注文ステータス</th>
              <td><%= f.select :status, [["入金待ち", "入金待ち"], ["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]], class: "status" %></td>
              <td><%= f.submit '更新'  ,class: "btn btn-success" %></td>
            </tr>
          </table>
          <% end %>

          <%= form_with model: @order_product, url: "admin_order_products_path(order_product)", local: true, method: :patch do |f| %>

          <table class="table table-bordered" align="left">
            <thead>
              <tr class="table-primary">
                  <th>商品名</th>
                  <th>単価(税込)</th>
                  <th>個数</th>
                  <th>小計</th>
                  <th>制作ステータス</th>
              </tr>
            </thead>
            <tbody>
              <% @order_products.each do |order_product| %>
              <tr>
                <td><%= order_product.product.name %></td>
                <td><%= order_product.price%></td>
                <td><%= order_product.amount %></td>
                <td><%= order_product.price* order_product.amount %></td>
                <td>
                  <%= f.select :making_status, [["着手不可", "着手不可"], ["製作待ち","製作待ち"], ["製作中","製作中"], ["製作完了","製作完了"]], class: "order_status" %>
                  <%= f.submit '更新'  ,class: "btn btn-success" %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <table align="left" id="tabel-right" valign="top">
            <tr>
              <th>商品合計</th>
              <td><%= @order.payment %></td>
            </tr>
            <tr>
              <th>配送料</th>
              <td><%= @order.postage%></td>
            </tr>
            <tr>
              <th>ご請求額</th>
              <td><%= @order.payment + @order.postage %></td>
            </tr>
          </table>
          <% end %>
    </div>
  </div>
</div>
