<div class="container">
 <div class="row">
    <div class="col-3 mt-5">
      <h2 class="font-weight-bold">商品一覧(全<%= @products.count %>件)</h2>
      <div class="product-box">
				<% @products.each do |product| %>
          <div class="product-container">
            <%= link_to product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>
            <div class="product">
              <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
            </div>
            <p class="products-name">
              <%= product.name %>
            </p>
            <% end %>
            <% if product.status == true %>

            <%= (product.price * 1.1).floor %>

            <% elsif product.status == false %>
            <p class="soldout">売り切れ中</p>
            <% end %>
          </div>
				<% end %>
			</div>
			<div class="text-center"><%= paginate(@products) %></div>
    </div>
  </div>
</div>
