<div class="container">
 <div class="row">
    <div class="col-3 mt-5">
      <h2 class="font-weight-bold">商品一覧(全<%= @products.count %>件)</h2>
      <div class="product-box">
				<% @products.each do |product| %>
          <div class="product-container">
            <%= link_to product_path(product.id), class: "btn-link font-weight-bold", :style=>"color:black" do %>
            <div class="product mt-4">
              <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
            </div>
            <p class="products-name mt-2">
              <%= product.name %>
            </p>
            <% end %>
            <% if product.status == true %>
            <span class="font-weight-bold">¥<%= (product.price * 1.1).floor %></span>
            <% elsif product.status == false %>
            <p class="soldout">売り切れ中</p>
            <% end %>
          </div>
				<% end %>
			</div>
			<div class="text-center"><%= paginate(@products) %></div>
    </div>
  </div>
</div>
