<div class="container">
 <div class="row">
    <div class="ml-3 mt-4">
      <h2 style="background:#EEEEEE;" class="rounded-circle">商品一覧(全<%= @products.total_count %>件)</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-11 mt-3">
      <div class="d-flex flex-wrap justify-content-center">
				<% @products.each do |product| %>
          <div class="product-container mr-5">
            <%= link_to product_path(product.id), class: "btn-link  font-weight-bold", :style=>"color:black" do %>
            <div class="mt-4">
              <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %>
            </div>
            <p class="mt-2">
              <%= product.name %>
            </p>
            <% end %>
            <% if product.status == true %>
            <span class="font-weight-bold">¥<%= (product.price * 1.1).floor %></span>
            <% elsif product.status == false %>
            <p class="soldout">売り切れ中</p>
            <% end %>
          </div>
				<% end %>
			</div>
    </div>
  </div>
  <div class="row mt-5 pagination justify-content-center">
  　<div><%= paginate(@products) %></div>
  </div>
</div>
