<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
       <%= form_with model: @product, url:admin_product_path, local:true do |f| %>
      <table class="table table-borderless">
        <h1>商品編集</h1>
        <tbody>
          
            <tr>
             <td>商品画像</td>
             <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
              <td>商品名</td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :introduction, class: "form-control" %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td>  <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "col-sm-9 genre_id") %>
              </td>
            </tr>
            <tr>
              <td>税抜価格</td>
              <td><%= f.text_field :price, class: "form-control" %>円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td>
                <%= f.radio_button :status, true %>
          	    <%= f.label :status, "販売中" %>
                <%= f.radio_button :status, false %>
                <%= f.label :status, "販売停止中" %>
              </td>
            </tr>
            <tr>
              <td>
              <%= f.submit "変更を保存", class: "btn btn-success rounded-pill" %>
              </td>
            </tr>
            

        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
