<div class="container my-5">
  <div class="row">
    <h2>商品一覧画面</h2>
  </div>
  <div class="row text-right">
    <%= link_to "+", new_admin_product_path, class: "btn btn-lg rounded-circle text-right ml-auto shadow-sm" %>
  </div>

  <div class="row mt-1">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜き価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>


<% 
=begin
%>
      <tbody>
        <% @products.each do |products| %>
          <tr>
            <td><%= products.id %></td>
            <td><%= link_to products.name %></td>
            <td><%= products.price %></td>
            <td><%= products.genre.name %></td>
            <td><%= products.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%
=end
%>

<% 
=begin
%>
  <div class="container">
    <div class="row">
     <div class="col-md-4 offset-md-4 py-2  mt-5">
      <%= paginate @products %>
     </div>
    </div>
  </div>

 <%
=end
%>

</div>
