<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table table-borderless">
        <h1>商品新規登録</h1>
        <tbody>
           <%= form_with model: @product, local:true do |f| %>
            <tr>
             <td>商品画像</td>
             <td><%= f.attachment_field :image %></td>
            </tr>
            <tr>
              <td>商品名</td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= f.text_area :introduction, class: "form-control" %></td>
            </tr>
            <tr>
              <td>ジャンル</td>
              <td></td>
            </tr>
            <tr>
              <td>税抜価格</td>
              <td><%= f.text_field :price, class: "form-control" %>円</td>
            </tr>
            <tr>
              <td>販売ステータス</td>
              <td></td>
            </tr>
            <tr>
              <td>
              <%= f.submit "新規登録", class: "btn btn-success" %>
              </td>
            </tr>
            <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>

