<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<div class="container my-5">

 <div class="row">
     <h2>商品詳細</h2>
 </div>

<div class="row mt-3">
    <div class="offset-sm-1 col-sm-3">
        <%= attachment_image_tag @product, :image, :fill, 200, 200, format: "jpeg", fallback: 'noimage.jpg', size: '200x200' %>
    </div>

    <div class="col-sm-4">
        <table class="table table-border-less">
            <tbody>
                <tr>
                    <td>商品名</td>
                    <td><%= @product.name %></td>
                </tr>
                <tr>
                    <td>商品説明</td>
                    <td><%= @product.introduction %></td>
                </tr>
                <tr>
                    <td>税込価格(税抜価格)</td>
                    <td><%= (@product.price * 1.1).to_i %>(<%= @product.price.to_i %>)円</td>
                    <%#<td><%= @product.price %><%#(<%= (@product.price * 1.1).floor %>
                    <%# (price * tax).floor で切り捨て／((price * tax).round(2)).ceil で切り上げ %>
                </tr>
                <tr>
                    <td>ジャンル</td>
                    <td><%= @product.genre.name%></td> <%# @product.ジャンルの.カラム名 %>
                </tr>
                <tr>
                    <td>販売ステータス</td>
                    <td><% if @product.status == true %>
                        販売中
      				    <% else %>
      					販売停止中
      				    <% end %>
      				</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div class="row">
      <div class="offset-sm-9 col-sm-2">
          <%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-primary" %>
      </div>
    </div>
</div>