<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <span class="navbar-brand" >LOGO</span>
          <div>
            <ul class="navbar-nav ml-auto ">
              <% if customer_signed_in? %>
                <li>
                  <%= link_to "マイページ", "#", class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
                <li>
                  <%= link_to "商品一覧", "#", class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
                <li>
                  <%= link_to "カート", "#", class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_customer_session_path, class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
              <% else %>
                <li>
                  <%= link_to "About", "#", class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
                <li>
                  <%= link_to "商品一覧", "#", class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
                <li>
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
                <li>
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-light btn btn-outline-secondary" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
