<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=M+PLUS+Rounded+1c:wght@300&family=New+Tegomin&family=Noto+Serif+JP:wght@300;900&family=Shippori+Mincho:wght@500&display=swap" rel="stylesheet">

  </head>
  <body class="d-flex flex-column">
    <div class="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light">

            <a class="navbar-brand" href="/"><%= image_tag('logo (6).png') %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="headercolor navbar-nav ml-auto">
                <% if customer_signed_in? %>
                  <span class="text-light d-flex align-items-center mr-5">ようこそ、<%= current_customer.last_name %>さん！</span>
                  <li>
                    <%= link_to "マイページ", customer_path(current_customer.id), class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "商品一覧", products_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "カート", cart_items_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-light btn btn-outline-light" %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li>
                    <%= link_to "商品⼀覧", admin_products_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "会員⼀覧", admin_customers_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "注⽂履歴⼀覧", admin_orders_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "ジャンル⼀覧", admin_genres_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-light btn btn-outline-light" %>
                  </li>

                <% else %>
                  <li>
                    <%= link_to "About", homes_about_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "商品一覧", products_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-light btn btn-outline-light mr-2" %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-light btn btn-outline-light" %>
                  </li>
                <% end %>
              </ul>
            </div>
        </nav>
    </header>
    <% if admin_signed_in? %>
      <div class="col-md-2 float-right mt-3">
        <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
          <%= f.text_field :content, placeholder: "会員名or商品名", class:"form-control form-control-sm" %>
          <%= f.button :type => "submit", style: 'border-style: none; background: none; cursor:pointer' do %>
            <i class='fa fa-search'></i>　
            <!----アイコン>-->
          <% end %>
        <% end %>
      </div>
    <% end %>
    <main>
      <%= yield %>
    </main>

      <footer class="footertext">
        <p>© All rights reserved by PokemonMaster.</p>
      </footer>
    </div>
  </body>
</html>
